{% extends "common_base.html" %}

{% block styles %}
.category-title{
	margin-bottom: 0px;
	margin-top: 10px;
	position: relative;
	left: -10px;
}

ul.bookmark-wrapper {
    margin: 0px;
    padding-left: 0px;
}

.bookmark-wrapper li{
    margin-bottom: 8px;
    margin-left: 5px;
    width: 200px;
    display: inline-block;
	list-style-type: none;
}

.bookmark:link, .bookmark:visited{
	color: #f0bdff;
	text-decoration: none;
}

.bookmark:hover{
	background-color: #42ffe0;
	text-decoration: none;
}

.meta-link:link, .meta-link:visited{
	color: #f0bdff;
	text-decoration: none;
}

.meta-link:hover{
	background-color: #42ffe0;
	text-decoration: none;
}

.meta-logout:link, .meta-logout:visited{
	margin-left: 4px;
	font-size: 12px;
	color: #939393;
	text-decoration: none;
}

.meta-logout:hover{
	background-color: #dfffdb;
	color: #ff0b05;
}

.fold-button{
	padding: 0px;
	margin: 0px;
	color: #d6d6d6;
	text-decoration: none;
	position:relative;
	left:-5px;
}

.archive-ctrl:link, .archive-ctrl:visited{
	margin-left: 4px;
	font-size: 12px;
	color: #939393;
	text-decoration: none;
}

.archive-ctrl:hover{
	background-color: #dfffdb;
	color: #ff0b05;
}


{% endblock %}

{% block js %}
$(function() {
    $(".archived").hide();
    $(".archive-ctrl").click(function() {
        if ($(this).html() == 'show archived'){
            $(this).html('hide archived');
            $(this).parent().parent().find(".archived").show();
        }
        else{
            $(this).html('show archived');
            $(this).parent().parent().find(".archived").hide();
        }
    });
    $.get('/gc', function(response) { $(".gmail_count").html(response);});
    $(".gc_loading").ajaxStop(function() { $(this).hide(); });
    $(".fold-button").click(function() {
    $(this).html() == '+' ? $(this).html('-') : $(this).html('+');
	$(this).parent().parent().find("ul").slideToggle();
    });
});
{% endblock %}

{% block header%}
<p>{{quote|escape|linebreaks}}</p>
{% endblock %}

{% block main %}
    {% for category in categories %}
	{% if category.bookmarks %}
	<div class="category-wrapper">
	    <div class="category-title"><a class="fold-button" href="#">-</a>{{ category.name }}{% if category.has_archived %}<a class="archive-ctrl" href="#">show archived</a>{% endif %}</div>
	    <hr />
	    <ul class="bookmark-wrapper">
		{% for bookmark in category.bookmarks %}
		{% if not bookmark.archive %}<li><a class="bookmark" href="/bookmarks/goto/{{ bookmark.id }}" title="visited {{ bookmark.visited }} times" target="_blank">{{ bookmark.name }}</a></li>
		{% else %}<li><a class="bookmark archived" href="/bookmarks/goto/{{ bookmark.id }}" title="visited {{ bookmark.visited }} times" target="_blank">{{ bookmark.name }}</a></li>{% endif %}
		{% endfor %}
	    </ul>
	</div>
	{% endif %}
    {% endfor %}
{% endblock %}

{% block utils %}
<a class="meta-link" href="/ctrlhub/main">Meta</a><a class="meta-logout" href="/ctrlhub/logout">Logout</a>
<hr />
{% if gmail_enable %}<a class="meta-link" href="https://mail.google.com/mail/#inbox" target="_blank">Gmail :: <span class="gc_loading">...</span><span class="gmail_count"></span></a><br />{% endif %}
<a class="meta-link" href="/notes/home">Notes</a><br />
{% endblock %}