{% extends "common_base.html" %}

{% block styles %}
.category-title{
	margin-bottom: 0px;
	margin-top: 10px;
	position: relative;
	left: -10px;
}

ul.bookmark-wrapper {
    margin: 0px;
    padding-left: 0px;
}

.bookmark-wrapper li{
    margin-bottom: 8px;
    margin-left: 5px;
    width: 200px;
    display: inline-block;
	list-style-type: none;
}

.bookmark:link, .bookmark:visited{
	color: #f0bdff;
	text-decoration: none;
}

.bookmark:hover{
	background-color: #42ffe0;
	text-decoration: none;
}

.meta-link:link, .meta-link:visited{
	color: #f0bdff;
	text-decoration: none;
}

.meta-link:hover{
	background-color: #42ffe0;
	text-decoration: none;
}

.meta-logout:link, .meta-logout:visited{
	margin-left: 4px;
	font-size: 12px;
	color: #939393;
	text-decoration: none;
}

.meta-logout:hover{
	background-color: #dfffdb;
	color: #ff0b05;
}

.fold-button{
	padding: 0px;
	margin: 0px;
	color: #d6d6d6;
	text-decoration: none;
	position:relative;
	left:-5px;
}

{% endblock %}

{% block js %}
$(function() {
    $(".fold-button").click(function() {
    $(this).html() == '+' ? $(this).html('-') : $(this).html('+');
	$(this).parent().parent().find("ul").slideToggle();
    });
});
{% endblock %}

{% block header%}
<p>{{quote|escape|linebreaks}}</p>
<hr />
tweets here?
{% endblock %}

{% block main %}
    {% for category in categories %}
	{% if category.bookmarks %}
	<div class="category-wrapper">
	    <div class="category-title"><a class="fold-button" href="#">-</a>{{ category.name }}</div>
	    <hr />
	    <ul class="bookmark-wrapper">
		{% for bookmark in category.bookmarks %}
		<li><a class="bookmark" href="/bookmarks/goto/{{ bookmark.id }}" title="visited {{ bookmark.visited }} times" target="_blank">{{ bookmark.name }}</a></li>
		{% endfor %}
	    </ul>
	</div>
	{% endif %}
    {% endfor %}
{% endblock %}

{% block utils %}
<a class="meta-link" href="/ctrlhub/main">Meta</a><a class="meta-logout" href="/ctrlhub/logout">Logout</a>
<hr />
<a class="meta-link" href="https://mail.google.com/mail/#inbox" target="_blank">{% if newmails > 0 %}GMail :: {{ newmails }}{% else %}Gmail{% endif %}</a><br />
<a class="meta-link" href="/notes/home">Notes</a><br />
{% endblock %}