{% extends "common_base.html" %}

{% block styles %}
.category-title{
	margin-bottom: 0px;
	margin-top: 10px;
}

ul.bookmark-wrapper {
    margin: 0px;
    padding-left: 0px;
}

.bookmark-wrapper li{
    margin-top: 8px;
    margin-left: 5px;
    width: 200px;
    display: inline-block;
	list-style-type: none;
}

.bookmark:link, .bookmark:visited{
	color: #f0bdff;
	text-decoration: none;
}

.bookmark:hover{
	background-color: #42ffe0;
	text-decoration: none;
}

.meta-link:link, .meta-link:visited{
	color: #f0bdff;
	text-decoration: none;
}

.meta-link:hover{
	background-color: #42ffe0;
	text-decoration: none;
}
{% endblock %}

{% block header%}
<p>{{quote|escape|linebreaks}}</p>
<hr />
{% endblock %}

{% block main %}
    {% for category in categories %}
	{% if category.bookmarks %}
	<div class="category-wrapper">
	    <div class="category-title">{{ category.name }}</div>
	    <hr />
	    <ul class="bookmark-wrapper">
		{% for bookmark in category.bookmarks %}
		<li><a class="bookmark" href="/bookmarks/goto/{{ bookmark.id }}" title="visited {{ bookmark.visited }} times" target="_blank">{{ bookmark.name }}</a></li>
		{% endfor %}
	    </ul>
	</div>
	{% endif %}
    {% endfor %}
{% endblock %}

{% block utils %}
<div class="meta-title">Meta</div>
<hr />
<a class="meta-link" href="/ctrlhub/login">Login</a>
{% endblock %}