{% extends "control_base.html" %}

{% block title %}Login{% endblock %}
    
{% block tools %} 
        <div class="toolset-title">我は問う、汝は人なりや？</div>
            <hr />
            <form action="/ctrlhub/login" method="post">
                {% csrf_token %}
                <div class="form-line"><input type="password" name="password"></div>
                <div class="form-line"><input type="submit" value="Login" /></div>
            </form>
        </div>
{% endblock %}
        
{% block widgets %}
{% endblock %}
