<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head>
<style type="text/css">

body {
    margin: 0px;
    padding: 0px;
}

.container {
	margin: 20px;
	font-family: monospace, sans-serif;
	width: 960px;
}

.quote {
	text-align: center;
	clear: both;
}

.content {
	margin-top: 10px;
}

.admin-tools{
	float: left;
	margin-left: 20px;
	width: 650px;
}

.toolset-title{
	margin-bottom: 0px;
	margin-top: 10px;
}

.activities{
	width: 270px;
	margin-top: 10px;
	float: right;
}

</style>


</head>



<body>
<div class="container">
    <div class="quote">
        <p>「ダンタリアンの書架」の管理者</p>
        <hr />
    </div>
    
    
    <div class="content">
    
        <div class="admin-tools">
            <div class="toolset-title">我は問う、汝は人なりや？</div>
            <hr />
            <form action="/login" method="post">
                {% csrf_token %}
                <input type="password" name="password">
                <input type="submit" value="Login" />
            </form>

            
        </div>
        
        
        <div class="activities">
            <div class="rss-head">Activities</div>
            <hr />
        </div>
    
    </div>

</div>
</body>
