{% extends "control_base.html" %}

{% block title %}Main{% endblock %}
    
{% block tools %} 
            <div class="toolset-wrapper">
                <div class="toolset-title">Bookmarks<a href="/bookmarks/manage">manage</a></div>
                <hr />
                
                {% if categories %}
                <div class="tool-wrapper">
                    <div class="tool-title">Add Bookmark</div>
                    <form class="tool-form" action="/bookmarks/add" method="post">
                        {% csrf_token %}
                        <div class="form-line"><label class="form-label">Name:</label><input class="form-input" type="text" name="name" /><br /></div>
                        <div class="form-line"><label class="form-label">URL:</label><input class="form-input" type="url" name="url" /><br /></div>
                        <div class="form-line"><label class="form-label">Category:</label><select class="form-input" name="category"></div>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select><br /></div>
                        <div class="form-line"><label class="form-label">Archive?</label><input class="form-input" type="checkbox" name="archive"/><br /></div>
                        <div class="form-line"><input type="submit" value="Add" /></div>
                    </form>
                </div>
                {% endif %}
                
                <div class="tool-wrapper">
                    <div class="tool-title">Add Bookmark /w Category</div>
                    <form class="tool-form" action="/bookmarks/add-with-cat" method="post">
                        {% csrf_token %}
                        <div class="form-line"><label class="form-label">Name:</label><input class="form-input" type="text" name="name" /><br /></div>
                        <div class="form-line"><label class="form-label">URL:</label><input class="form-input" type="url" name="url" /><br /></div>
                        <div class="form-line"><label class="form-label">Category:</label><input class="form-input" type="text" name="category" /><br /></div>
                        <div class="form-line"><label class="form-label">Archive?</label><input class="form-input" type="checkbox" name="archive"/><br /></div>
                        <div class="form-line"><input type="submit" value="Add" /></div>
                    </form>
                </div>
                
            </div>
            
            <div class="toolset-wrapper">
                <div class="toolset-title">Categories<a href="/categories/manage">manage</a></div>
                <hr />
                
                <div class="tool-wrapper">
                    <div class="tool-title">Create</div>
                    <form class="tool-form" action="/categoriess/add" method="post">
                        {% csrf_token %}
                        <div class="form-line"><label class="form-label">Name:</label><input type="text" name="name" /><br /></div>
                        <div class="form-line"><input type="submit" value="Create" /></div>
                    </form>
                </div>
            </div>
            
            <div class="toolset-wrapper">
                <div class="toolset-title">Quotes</div>
                <hr />
                <form class="tool-form" action="/quotes/add" method="post">
                    {% csrf_token %}
                    <textarea rows="5" cols="60" name="content"></textarea>
                    <input type="submit" value="Add Quote" />
                </form>
            </div>
{% endblock %}
        
{% block widgets %}
{% endblock %}
