<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head>
<style type="text/css">

body {
    margin: 0px;
    padding: 0px;
}

.container {
	margin: 20px;
	font-family: monospace, sans-serif;
	width: 960px;
}

.header {
	text-align: center;
	clear: both;
}

.content {
	margin-top: 10px;
}

.main{
	float: left;
	margin-left: 20px;
	width: 650px;
}

.utils{
	width: 270px;
	margin-top: 10px;
	float: right;
}

{% block styles %}{% endblock %}

</style>


</head>



<body>
<div class="container">
    
    <div class="header">
        {% block header %}{% endblock %}
    </div>
    
    <hr />
    
    <div class="content">
        <div class="main">
            {% block main %}{% endblock %}
        </div>
        
        <div class="utils">
            {% block utils %}{% endblock %}
        </div>
    </div>
    
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
